<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"  routerLinkActive="active-link" href="#">Products app</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Login" routerLinkActive="active-link" aria-current="page"  href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register" routerLinkActive="active-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
